<form class="heart prepare-fallout-roll">
    <input name="actor_id" type="hidden" value="{{actor_id}}"/>

    {{#if resistance}}
    <input name="difficulty" type="hidden" value="{{difficulty}}"/>
    {{else}}
    {{#> "systems/heart/templates/util/section.html"  
            title="heart.resistance"
            value=resistance
            target="resistance"
            type="radio"}}
        {{#> "systems/heart/templates/util/radio.html"
            array=resistances value=resistance group=target}}
            {{localizeHeart "resistance" value}}
        {{/ "systems/heart/templates/util/radio.html"}}
    {{/ "systems/heart/templates/util/section.html" }}
    {{/if}}

    <div class="flexrow margin-0-5em">
        <button data-action='cancel'>{{localize "Cancel"}}</button>
        <button data-action='request-roll'>{{localizeHeart "perform" "fallout_roll"}}</button>
    </div>
</form>