<form class="heart prepare-stress-roll">
    <input name="actor_id" type="hidden" value="{{actor_id}}"/>

    {{#if result}}
    <input name="result" type="hidden" value="{{result}}"/>
    {{else}}
    {{#> "systems/heart/templates/util/section.html" 
            title="heart.result"
            value=result
            target="result"
            type="radio"}}
        {{#> "systems/heart/templates/util/radio.html"
                array=results value=result group=target}}
                {{localizeHeart "result" value}}
        {{/ "systems/heart/templates/util/radio.html"}}
    {{/ "systems/heart/templates/util/section.html" }}
    {{/if}}

    {{#if stress_di}}
    <input name="stress_di" type="hidden" value="{{stress_di}}"/>
    {{else}}
    {{#> "systems/heart/templates/util/section.html" 
            title="heart.Stress"
            value=stress_di
            target="stress_di"
            type="radio"}}
        {{#> "systems/heart/templates/util/radio.html"
                array=stress_dice value=stress_di group=target}}
                    <div class="flexcol">
                        <img class="dice" src="icons/dice/{{value}}black.svg"/>
                        <span>{{value}}</span>
                    </div>
        {{/ "systems/heart/templates/util/radio.html"}}
    {{/ "systems/heart/templates/util/section.html" }}
    {{/if}}

    {{#if resistance}}
    {{else}}
    {{#> "systems/heart/templates/util/section.html" 
            title="heart.resistance"
            value=resistance
            target="resistance"
            type="radio"}}
        {{#> "systems/heart/templates/util/radio.html"
                array=resistances value=value group=target}}
                   {{localizeHeart "resistance" value}}
        {{/ "systems/heart/templates/util/radio.html"}}
    {{/ "systems/heart/templates/util/section.html" }}
    {{/if}}
    
    <div class="flexrow margin-0-5em">
        <button data-action='cancel'>{{localize "Cancel"}}</button>
        <button data-action='request-roll' disabled>{{localizeHeart "perform" "stress_roll"}}</button>
    </div>
</form>