<form class="heart fallout">
    <input type="hidden" name="actor_id" value="{{actor.id}}"/>

    <div class="dice-tooltip">
        <h3>{{localizeHeart "fallout" fallout}}</h3>
        <div class="center margin-0-5em">
            {{localizeHeart "fallout" fallout "description"}}
        </div>

        <div class="flexcol">
            <div class="dice-rolls flexrow">
                <div class="flexcenter">
                    <span class="roll d12  {{#if (eq result 1)}}max{{/if}} {{#if (eq result 12)}}min{{/if}}">
                        {{result}}
                    </span>
                </div>

                {{#if (eq fallout "no_fallout")}} 
                <span class="flexcenter fas fa-greater-than"></span>
                {{/if}}
                {{#if (or (eq fallout "minor_fallout") (eq fallout "major_fallout"))}}
                <span class="flexcenter fas fa-less-than-equal"></span>
                {{/if}}
                <div class="flexcol">
                    <label class="tag selected">
                        {{localizeHeart "total_stress"}}
                    </label>
                    <label class="tag">
                        {{total_stress}} 
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>