<form class="heart">
    <input type="hidden" name="actor_id" value="{{actor.id}}"/>
    <input type="hidden" name="result" value="{{result}}"/>

    <h3>{{localizeHeart "result" "difficulty" difficulty}}</h3>
    <div class="dice-tooltip">
        <div class="flexrow dice-rolls">
            {{#each dicepairs as |dicepair|}}
            <div class="flexcol flexcenter margin-0-5em">
                <div class="roll d10 {{#if dicepair.roll.discarded}}discarded{{/if}} {{#if (eq dicepair.roll.result 1)}}min{{/if}} {{#if (eq dicepair.roll.result 10)}}max{{/if}}">
                    {{dicepair.roll.result}}
                </div>
                <label class="inflexible tag {{#if dicepair.roll.discarded}}discarded{{/if}} ">{{dicepair.flavor}}</label>
            </div>
            {{/each}}
        </div>
    </div>

    <h3>{{localizeHeart "result" result}}</h3>
    <div class="margin-0-5em">
        <div class="center">{{localizeHeart "result" result "description"}}</div>
    </div>
    
    {{#if (eq result "critical_failure")}}
    <button data-action="roll-stress">
        <span class="fas fa-dice"></span>
        {{localizeHeart "perform" "stress_roll"}}
    </button>
    {{/if}}

    {{#if (or (eq result "failure") (eq result "success_at_a_cost"))}}
    <button data-action="roll-stress">
        <span class="fas fa-dice"></span>
        {{localizeHeart "perform" "stress_roll"}}
    </button>
    {{/if}}
</form>