<form class="heart request-roll">
    {{#if description}}
    <div class="flexcol margin-0-5em">
        <div class="quote">
            {{description}}
        </div>
    </div>
    {{/if}}

    <div class="flexcol margin-0-5em">
        <h3 class="center">{{localizeHeart "difficulty"}}</h3>
        <div class="flexrow">
            <label class="tag selected">
                {{localizeHeart "difficulty" difficulty}}
                <input name="difficulty" type="hidden" value="{{difficulty}}"/>
            </label>
        </div>
    </div>

    <div class="flexrow margin-0-5em">
        <div class="flexcol">
            <h3 class="center inflexible">{{localizeHeart "skills"}}</h3>
            {{#each skills as |skill|}}
            {{#with (randomID) as |id|}}
            <input id="{{id}}" class="hidden" name="skill" data-value="{{skill}}" type="radio" {{checked (includes ../../selected_skills skill)}}/>
            <label class="tag selected" for="{{id}}">    
                {{localizeHeart "skill" skill}}
            </label>
            {{/with}}
            {{/each}}
        </div>
    
        <div class="flexcol ">
            <h3 class="center inflexible">{{localizeHeart "domains"}}</h3>
            {{#each domains as |domain|}}
            {{#with (randomID) as |id|}}
            <input id="{{id}}" class="hidden" name="domain" data-value="{{domain}}" type="radio" {{checked (includes ../../selected_domains domain)}}/>
            <label class="tag selected" for="{{id}}">    
                {{localizeHeart "domain" domain}}
            </label>
            {{/with}}
            {{/each}}
        </div>
    </div>

    <button data-action="roll">
        <span class="fas fa-dice"></span>
        {{localize "Roll"}}
    </button>
</form>