<form class="heart">
    <input type="hidden" name="actor_id" value="{{actor.id}}"/>
    
    <h3>{{localize "Roll"}}</h3>
    <table class="dice-tooltip heart-roll">
        <tr class="dice-rolls">
            {{#each dicepairs as |dicepair|}}
                <td class="center">
                    <div class="roll d10 {{#if dicepair.roll.discarded}}discarded{{/if}} {{#if (eq dicepair.roll.result 1)}}min{{/if}} {{#if (eq dicepair.roll.result 10)}}max{{/if}}">
                    {{dicepair.roll.result}}
                    </div>
                </td>
            {{/each}}
        </tr>
        <tr class="dice-rolls">
            {{#each dicepairs as |dicepair|}}
            <td class="center">
                <label class="tag {{#if dicepair.roll.discarded}}discarded{{/if}} ">{{dicepair.flavor}}</label>
            </td>
            {{/each}}
        </tr>
    </table>
    <h3>{{localize (concat "heart.RollResult" result)}}</h3>
    <div class="margin-0-5em">
        <div class="center">{{localize (concat (concat "heart.RollResult" result) "Description")}}</div>
    </div>
    
    {{#if (eq result "CriticalFailure")}}
    <button data-action="roll-stress">
        <span class="fas fa-dice"></span>
        {{localize "heart.RollStress"}}
        <input type="hidden" name="multiplier" value=2/>
    </button>
    {{/if}}

    {{#if (or (eq result "Failure") (eq result "SuccessAtACost"))}}
    <button data-action="roll-stress">
        <span class="fas fa-dice"></span>
        {{localize "heart.RollStress"}}
        <input type="hidden" name="multiplier" value=1/>
    </button>
    {{/if}}
</form>