<form class="heart stress">
    <input type="hidden" name="actor_id" value="{{actor.id}}"/>
    <input type="hidden" name="resistance" value="{{resistance}}"/>
    <input type="hidden" name="stress_gain" value="{{stress_gain}}"/>

    <div class="dice-tooltip">
        <h3>{{localizeHeart "stress"}}</h3>
        <div class="dice-rolls flexcol">
            <div class="flexcenter">
                {{#if (ne multiplier 1)}}
                <span class="number">{{multiplier}} <span class="fas fa-times"></span></span>
                {{/if}}
                <span class="roll {{stress_di}}">
                    {{result}}
                </span>
                {{#if (ne protection 0)}}
                <span class="fas fa-minus"></span> 
                <span class="number">{{protection}}</span>
                {{/if}}
                {{#if (or (ne multiplier 1) (ne protection 0)) }}
                <span class="fas fa-equals"></span> 
                <span class="number">{{stress_gain}}</span>
                {{/if}}
            </div>
        </div>
    </div>

    <button data-action="take-stress">
        <span class="fas fa-brain"></span>
        {{localizeHeart "perform" "take_stress(stress,resistance)" stress=stress_gain resistance=resistance}}
    </button>
</div>