<div data-actor="{{actor.id}}">
    <table class="dice-tooltip heart-roll">
        <tr class="dice-rolls">
            {{#each dicepairs as |dicepair|}}
                <td class="center">
                    <div class="roll d10 {{#if dicepair.roll.discarded}}discarded{{/if}} {{#if (eq dicepair.roll.result 1)}}min{{/if}} {{#if (eq dicepair.roll.result 10)}}max{{/if}}"">
                    {{dicepair.roll.result}}
                    </div>
                </td>
            {{/each}}
        </tr>
        <tr class="dice-rolls">
            {{#each dicepairs as |dicepair|}}
            <td class="center">
                {{dicepair.flavor}}
            </td>
            {{/each}}
        </tr>
    </table>
    <div>
        <h3>{{localize (concat "heart.RollResult" result)}}</h3>
        <div>{{localize (concat (concat "heart.RollResult" result) "Description")}}</div>
    </div>
    
    {{#if (eq result "CriticalFailure")}}

    {{/if}}
    {{#if (or (eq result "Failure") (eq result "SuccessAtACost"))}}
    <button class="take-stress">{{localize "heart.TakeStress"}}</button>
    {{/if}}
</div>