<div data-actor="{{actor.id}}" data-resistance="{{resistance}}" data-clear-stress="{{clearStress}}">
    <div class="message flexrow center">
        {{message}}
    </div>
    {{#if showClearStressButton}}
        {{#if actor}}
            <div class="flexrow">
                <button data-actor="{{actor.id}}" class="clear-stress">{{localize "heart.ClearVARStress" var=(titlecase clearStress)}}</button>
            </div>
        {{else}}
            <div class="flexrow">
                {{localize "heart.ClearVARStress" var=(titlecase clearStress)}}
            </div>
        {{/if}}
    {{/if}}
    {{{rollHTML}}}
</div>