@use '../util'

.heart.form, .chat-message
    .options
        display: flex

        align-items: center
        justify-content: start

        .option
            color: util.$black
            font-family: 'Alegreya'
            border: 1px solid util.$black
            border-radius: 5px
            background: util.$white
            margin: 2px
            padding: 4px
            display: inline-block
            text-transform: uppercase

    input:checked + .option
        background: util.$red
        color: util.$white

.heart.form
    .window-content
        background: util.$white

    label
        font-weight: bold
        font-family: 'MelmaCracked'
        display: flex
        align-items: center
        justify-content: start
        text-align: left

    .description
        text-align: center

.active-beats
    display: flex
    flex-flow: row wrap
    justify-content: center

    .character-box
        border: 1px solid util.$black
        border-radius: 0.5em
        margin: 0.5em
        display: flex
        flex-direction: column
        align-items: flex-start

        .character-header
            background: util.$red
            color: util.$white
            padding: 0.5em
            width: 100%
            box-sizing: border-box
            font-size: 1.2em

        .char-active-beats
            padding: 0 0.5em
            display: flex
            flex-direction: column
            justify-content: center
