<form class="heart prepare-roll">
    <div class="margin-0-5em">
        {{#> "systems/heart/templates/util/section.html" 
                title="heart.Difficulty"
                value=description
                target="difficulty"
                match=false
                optional=false
                type="radio"}}
            {{#> "systems/heart/templates/util/radio.html"
                    array=difficulties value=difficulty group="difficulty"}}
                {{localize (concat "heart.Difficulty" (titlecase value))}}
            {{/ "systems/heart/templates/util/radio.html"}}
        {{/ "systems/heart/templates/util/section.html" }}

        {{#> "systems/heart/templates/util/section.html" 
                title="heart.SheetSkills"
                value=selected_skills.length
                target="skill"
                match=false
                optional=false
                type="multicheckbox"}}
                {{#> "systems/heart/templates/util/multicheckbox.html"
                    array=skills
                    checked_array=selected_skills
                    group=target
                    }}
                    {{localize (concat "heart.SheetSkill" (titlecase value))}}
                {{/ "systems/heart/templates/util/multicheckbox.html"}}
        {{/ "systems/heart/templates/util/section.html" }}

        {{#> "systems/heart/templates/util/section.html" 
                title="heart.SheetDomains"
                value=selected_domains.length
                target="domain"
                type="multicheckbox"}}
                {{#> "systems/heart/templates/util/multicheckbox.html"
                    array=domains
                    checked_array=selected_domains
                    group=target
                    }}
                    {{localize (concat "heart.SheetDomain" (titlecase value))}}
                {{/ "systems/heart/templates/util/multicheckbox.html"}}
        {{/ "systems/heart/templates/util/section.html" }}

        {{#if actor_id}}
        <input name="actor_id" type="hidden" value="{{actor_id}}"/>
        {{else}}
        {{#> "systems/heart/templates/util/section.html" 
                title="heart.SheetClassCharacter"
                value=selected_actor_ids.length
                target="actor_id"
                optional=true
                type="multicheckbox"}}
            {{#> "systems/heart/templates/util/multicheckbox.html"
                    array=actor_ids checked_array=selected_actor_ids group=target}}
                    <div class="flexcol">
                        <img src="{{lookup (getActor value) 'img'}}"/>
                        <div>{{lookup (getActor value) "name"}}</div>
                    </div>
            {{/ "systems/heart/templates/util/multicheckbox.html"}}
        {{/ "systems/heart/templates/util/section.html" }}
        {{/if}}
    
        {{#> "systems/heart/templates/util/section.html" 
             title="heart.RollRequestReason" value=description target="description" match=false optional=true type="input"}}
            <textarea name="description">{{../description}}</textarea>
        {{/ "systems/heart/templates/util/section.html" }}
    </div>
    
    <div class="flexrow margin-0-5em">
        <button data-action='cancel'>{{localize "Cancel"}}</button>
        <button data-action='request-roll' disabled>{{localize "heart.RequestRoll"}}</button>
    </div>
</form>