<form class="heart actor character {{cssClass}} flexcol" autocomplete="off">
    <div class="flexrow">
        <div class="flexcol col">

            <img class="profile" src="{{data.img}}" title="{{actor.name}}" data-edit="img"/>
            <div class="center">
                <button data-action="prepare-request-roll"><span class="fas fa-dice"></span> {{localizeHeart "perform" "roll_request"}}</button>
                <button data-action="prepare-roll"><span class="fas fa-dice"></span> {{localizeHeart "perform" "roll"}}</button>
                <button data-action="prepare-stress-roll"><span class="fas fa-dice"></span> {{localizeHeart "perform" "stress_roll"}}</button>
                <button data-action="prepare-fallout-roll"><span class="fas fa-dice"></span> {{localizeHeart "perform" "fallout_roll"}}</button>
            </div>
            
            <div class="flexcol">
                <div class="flexrow">
                    <label>{{localizeHeart "character" "name"}}</label>
                    <input name="name" value="{{actor.name}}"/>
                </div>
                <div class="flexrow">
                    <label>{{localizeHeart "class"}}</label>
                    <input name="data.class" value="{{actor.data.data.class}}"/>
                </div>
                <div class="flexrow">
                    <label>{{localizeHeart "calling"}}</label>
                    <input name="data.calling" value="{{actor.data.data.calling}}"/>
                </div>
            </div>
            <div class="flexcol flex-30ex notepad">
                <label class="inflexible">{{localizeHeart "character" "active_beats"}}</label>
                {{editor content=actor.data.data.active_beats target="data.active_beats" button=true editable=editable owner=owner}}
            </div>
            <div class="flexcol flex-30ex notepad">
                <label class="inflexible">{{localizeHeart "equipment"}}</label>
                {{editor content=actor.data.data.equipment target="data.equipment" button=true editable=editable owner=owner}}
            </div>
            <div class="flexcol flex-30ex notepad">
                <label class="inflexible">{{localizeHeart "resources"}}</label>
                {{editor content=actor.data.data.resources target="data.resources" button=true editable=editable owner=owner}}
            </div>
            <div class="flexrow">
                <table class="skills">
                    <tr>
                        <th class="center">{{localizeHeart "skills"}}</th>
                        <th class="faded">{{localizeHeart "character" "knacks"}}</th>
                    </tr>
                    {{#each actor.data.data.skills as |skill name|}}
                    <tr>
                        <td>
                            <input type="checkbox" name="data.skills.{{name}}.value" {{checked skill.value}}/>
                            <span>{{localizeHeart "skill" name}}</span>
                        </td>
                        <td>
                            <input name="data.skills.{{name}}.knack" value="{{skill.knack}}"/>
                        </td>
                    </tr>
                    {{/each}}
                </table>
                <table class="domains">
                    <tr>
                        <th class="center">{{localizeHeart "domains"}}</th>
                        <th class="faded">{{localizeHeart "character" "knacks"}}</th>
                    </tr>
                    {{#each actor.data.data.domains as |domain name|}}
                    <tr>
                        <td>
                            <input type="checkbox" name="data.domains.{{name}}.value" {{checked domain.value}}/>
                            {{localizeHeart "domain" name}}
                        </td>
                        <td>
                            <input name="data.domains.{{name}}.knack" value="{{domain.knack}}"/>
                        </td>
                    </tr>
                    {{/each}}
                </table>
            </div>
        </div>
        <div class="flexcol col">
            <div class="inflexible">
                <table>
                    <tr>
                        <td></td>
                        <td></td>
                        <th class="center">{{localizeHeart "character" "protections"}}</td>
                    </tr>
                    {{#each actor.data.data.resistances as |resistance name|}}
                    <tr>
                        <th>{{localizeHeart "resistance" name}}</th>
                        <td data-target='data.resistances.{{name}}.value'>{{{ordered-checkable resistance.value 10}}}</td>
                        <td class="center left-border" data-target='data.resistances.{{name}}.protection'>{{{ordered-checkable resistance.protection 5}}}</td>
                    </tr>
                    {{/each}}
                </table>
            </div>
            <div class="flexcol">
                <div class="flexcol notepad">
                    <div class="inflexible">
                        <h3 class="width-auto invert very sketchy">{{localizeHeart "abilities"}}</h3>
                    </div>
                    {{editor content=actor.data.data.abilities target="data.abilities" button=true editable=editable owner=owner}}
                </div>
                <div class="flexcol notepad">
                    <div class="inflexible">
                        <h3 class="invert sketchy ">{{localizeHeart "fallout"}}</h3>
                    </div>
                    {{editor content=actor.data.data.fallout target="data.fallout" button=true editable=editable owner=owner}}
                </div>
            </div>
        </div>
    </div>
</form>