.item.preview
    position: relative
    border-radius: 5px
    border-color: rgba(99, 0, 0, 0.4)
    background: rgb(255, 254, 254)

    .actionbar
        float: right

        a:hover
            transform: scale(1.05)

    h1, h2, h3
        font-family: 'MelmaCracked'
        color: black