.app.heart.sheet.actor.character > section.window-content {
    background: white;
    font-size: 16px;
}

.app.heart.sheet.actor.character input[type=checkbox] {
    appearance: none;
}

.app.heart.sheet.actor.character input[type=checkbox],
.app.heart.sheet.actor.character .ordered-checkable-box {
    position: relative;
    border: 2px solid #630000;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin: 2px;
    padding: 0;
}

.app.heart.sheet.actor.character input[type=checkbox]:checked:after,
.app.heart.sheet.actor.character .ordered-checkable-box.checked::after {
    position: absolute;
    background: #630000;
    left: 2px;
    top: 2px;
    display: inline-block;
    height: 8px;
    width: 8px;
    content: "";
}

.app.heart.sheet.actor.character .width-auto {
    width: auto;
}

.app.heart.sheet.actor.character label {
    color: #630000;
    flex-grow: 0.5;
}

.app.heart.sheet.actor.character th {
    color: #630000;
    text-transform:uppercase;
    text-align: left;
}

.app.heart.sheet.actor.character th.invert {
    background: #630000;
    color: white;
    text-transform:uppercase;
    text-align: left;
    padding: 0.1em;
    text-align: center;
}

.center {
    text-align: center;
}

.app.heart.sheet.actor.character label.faded {
    opacity: 0.5;
}

.app.heart.sheet.actor.character input {
    color: black;
    border: 0;
    border-bottom: 1px solid #630000;
    flex-grow: 1.5;
    vertical-align: middle;
    background: none;
}

.app.heart.sheet.actor.character h2 {
    background: #630000;
    color: white;
    flex-grow: 0;
    padding: 0.2em;
    width: auto;
}

.app.heart.sheet.actor.character h3 {
    background: #630000;
    color: white;
    padding: 0.2em;
    width: auto;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    margin: 0;
}

.app.heart.sheet.actor.character .col {
    padding: 0 0.5em;
}

.app.heart.sheet.actor.character img {
    border: 0;
}

.app.heart.sheet.actor.character h2,
.app.heart.sheet.actor.character label {
    font-size: 1.2em;
    text-transform:uppercase;
}

.dialog.heart .window-content .inflexible,
.app.heart.sheet.actor.character .inflexible {
    flex: auto 0;
}

.app.heart.sheet.actor.character table {
    background: none;
    border: 0;
}

.app.heart.sheet.actor.character .flex-30ex {
    flex: 20ex 1 0;
}

.app.heart.sheet.actor.character .notepad .editor-content {
    font-size: 15px;
    line-height: 20px;
    background-image: -moz-linear-gradient(top , transparent, transparent 19px,rgba(99, 0, 0, 0.2) 0px); 
    background-image: -webkit-linear-gradient(top , transparent, transparent 19px,rgba(99, 0, 0, 0.2) 0px);  
    background-size: 100% 20px;
}

.app.heart.sheet.actor.character .notepad .editor-content p {
    margin: 0;
}

.app.heart.sheet.actor.character .left-border {
    margin-left: 0.2em;
}

.app.heart.sheet.actor.character .hint {
    opacity: 50%;
    font-size: 0.8em;
}

.app.heart.sheet.actor.character button {
    background: white;
    color: #630000;
    margin: 0.5em;
    font-size: 1.2em;
    width: auto;
}

.chat-message table.heart.roll-options,
.dialog-content form.heart table.roll-options {
    border: 0;
    background: none;
    table-layout: fixed;
}

.chat-message table.heart-roll {
    border: 0;
    background: none;
    table-layout: fixed;
}

.chat-message table.heart.roll-options tr:nth-child(2n),
.chat-message table.heart-roll tr:nth-child(2n) {
    background: none;
}

.chat-message table.heart-roll .roll {
    text-align: center;
    display: inline-block;
    float: none;
}

.chat-message h3 {
    text-align: center;
    font-weight: bold;
}

.dialog-content form.heart table.roll-options td {
    text-align: center;
}

.dialog-content form.heart table.roll-options td img {
    border: 0;
    filter: invert(8%) sepia(54%) saturate(5408%) hue-rotate(353deg) brightness(94%) contrast(112%);
}

.dialog.heart .window-content {
    background: white;
}

.chat-message .heart-roll .dice-rolls {
    align-items: center;
}

.app.heart.sheet.actor.character .sketchy {
    border: 3px solid #630000;
    border-top-left-radius: 255px 25px;
    border-top-right-radius: 45px 225px;
    border-bottom-right-radius: 505px 45px;
    border-bottom-left-radius:35px 255px;
}

.app.heart.sheet.actor.character .very.sketchy {
    border: 3px solid #630000;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    border-bottom-right-radius: 225px 15px;
    border-bottom-left-radius:15px 255px;
}


.chat-message .message-content .margin-0-5em,
.dialog.heart .window-content .margin-0-5em {
    margin: 0.5em;
}

.chat-message .selectable,
.heart .selectable {
    padding: 0.5em;
    border: 1px solid #630000;
    color: #630000;
    background: white;
    margin: 0.1em;
    text-align: center;
    text-transform: uppercase;
}

.chat-message .selectable.selected,
.heart .selectable.selected {
    background: #630000;
    color: white;
}

.chat-message select {
    font-size: 1.3em;
    border: 3px solid #630000;
    background: white;
    color: #630000;
    margin: 0.5em;
    text-transform: uppercase;
}









.heart .hidden {
    display: none;
}

.heart label.tag {
    border: 3px solid #630000;
    background: white;
    color: #630000;
    margin: 0.2em;
    padding: 0.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;

}

.heart label.tag.selected,
.heart input:checked + label.tag {
    color: white;
    background: #630000;
}

.heart .flexequal > *{
    flex: 0 1 1;
}

.heart .border {
    border: 3px solid #630000;
    padding: 0.2em;
}

.heart h3 {
    background: black;
    color: white;
    font-size: 1.2em;
    margin: 0.2em;
    margin-bottom: 0.4em;
    padding: 0.2em;
    text-transform: uppercase;
    font-weight: bold;
}

.heart .margin-1em {
    margin: 1em;
}


.heart select,
.heart button:not(.dialog-button) {
    color: white;
    background: #630000;
    border: 0;
    font-size: 1.2em;
    padding: 0.2em;
}

.chat-message {
    background: white;
    color: 111;
}

.heart input[type=checkbox]:not(.hidden) {
    appearance: none;
    position: relative;
    border: 2px solid #630000;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin: 2px;
    padding: 0;
    filter: none;
}

.heart input[type=checkbox]:not(.hidden):checked:after {
    position: absolute;
    background: #630000;
    left: 2px;
    top: 2px;
    display: inline-block;
    height: 8px;
    width: 8px;
    content: "";
}

.heart label.tag.discarded {
    filter: sepia(0.5) contrast(0.75) opacity(0.4);
}

.heart label.tag img {
    border: 0;
    filter: invert(8%) sepia(54%) saturate(5408%) hue-rotate(353deg) brightness(94%) contrast(112%);
}

.heart input:checked + label.tag img {
    filter: invert(100%);
}

.heart .flexcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heart .number {
    font-size: 24px;
    padding: 0 0.1em;
    font-weight: bold;
    vertical-align: top;
}

.heart.request-roll {
    background: black;
    padding: 1em 0.5em;
    border-radius: 0.5em;
}

.heart.request-roll h3 {
    color: black;
    background: white;
}