name: Test Build
run-name: ${{ github.actor }} testing a new push
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
      - run: npm ci
      - run: npm run build-prod
      - run: npm run build-manifest -- ${inputs.version}
      - run: npm run build-translations
      - run: npm run build-packs
      - run: npm run build-template