name: Release
run-name: ${{ github.actor }} building a new release
on:
  workflow_dispatch:
    inputs:
      version:
        description: 'The version to release this build as'
        required: true
        type: string
        default: 0.X.Y
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
      - run: npm ci
      - run: npm run build-prod
      - run: npm run build-manifest -- ${{ inputs.version}}
      - run: npm run build-packs
      - run: npm run build-template
      - name: Copy static files
        run: cp -r LICENSE ./static/* ./dist
      - name: Zip files
        working-directory: ./dist
        run: zip -r ./heart.zip ./*
      - name: Create Release
        uses: ncipollo/release-action@v1
        with: 
          artifacts: "./dist/system.json,./dist/heart.zip"
          tag: ${{ inputs.version }}